*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 1rem;
}
select{
    margin: 1rem;
    background-color: darkgrey;
}

main{
    padding: 1rem;
    background-color: rgb(127, 131, 131);
}
.p{
    margin: 1rem;
}
button{
    background-color: darkgrey;
    padding: 0px 10px;
}